$color-primary: #f37d38;
$color-primary-light: #ffe031;
$color-primary-dark: #f04579;
$color-white: #fff;
$color-black: rgb(0, 0, 0);
$color-grey: #777777;
$color-purpe:  rgba(28, 202, 255, 0.8);
$color-secondary-light: #ffb900; //Màu Cam
$color-secondary-dark: #ff7730;
$color-tertiary-light:#55c57a; // Màu xanh lá cây
$color-tertiary-dark:#28b485;
$color-navigation-1: #00ffed;
$color-navigation-2: #9d00c6;
$color-span-1a: #00ffed;
$color-span-1b: #9d00c6;
$color-span-2a: #f237ef;
$color-span-2b: #fc5252;
$color-span-3a: #1eadf0;
$color-span-3b: #0afb60;
$color-footer: #033b24;
$grid-width: 114rem;
$gutter-vertical: 8rem;    // margin bottom giữa các row
$gutter-horizontal: 6rem;   // giá trị khoảng cách giữa các column
$color-grey-light-1: #f7f7f7;
$default-font-size: 1.6rem;