.card {
    perspective: 150rem;
    position: relative;
    height: 45rem;

    &__side {
        backface-visibility: hidden;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
        color: white;
        font-size: 2rem;
        height: 45rem;
        transition: all .8s ease;
        border-radius: 5rem;
        overflow: hidden;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

        &--front {
            
        }

        &--back {
            
            transform: rotateY(180deg);

            &-1 {
                background-image: linear-gradient(to right, $color-span-1a, $color-span-1b);
              }
           
              &-2 {
                background-image: linear-gradient(to right, $color-span-2a, $color-span-2b);
              }
           
              &-3 {
              background-image: linear-gradient(to right, $color-span-3a, $color-span-3b);
              }
        }
    }

    &:hover &__side--front {
        transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0);
    }

    &__cta {
        position: absolute;
        top: 50%;
        left: 50%;
        text-align: center;
        transform: translate(-50%, -50%);
        width: 90%;
    }

    &__price-box {
        text-align: center;
        color: $color-white;
        margin-bottom: 8rem;
    }
    
    &__price-only {
        font-size: 1.4rem;
        text-transform: uppercase;
    }

    &__price-value {
        font-size: 4rem;
        font-weight: 100;
        margin-bottom: 5rem;
    }

    &__picture {

        background-size: cover;
        background-blend-mode: screen;
        height: 23rem;
        clip-path: ellipse(80% 70% at 50% 30%);

        &--1 {
            background-image:
                linear-gradient(to right, $color-span-1a, $color-span-1b),
                url('../img/card-img1.png');
        }

        &--2 {
            background-image:
                linear-gradient(to right, $color-span-2a, $color-span-2b),
                url('../img/card-img2.jpg');
        }

        &--3 {
            background-image:
                linear-gradient(to right, $color-span-3a, $color-span-3b),
                url('../img/card-img3.jpg');
        }
    }

    &__heading{
        font-size: 2.8rem;
        font-weight: 300;
        text-align: right;
        text-transform: uppercase;
        position: absolute;
        top: 17rem;
        right: 1rem;
        width: 75%;
    }

    &__heading-span{

        border-radius: 5rem;
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone;

        &--1 {
            background-image: linear-gradient(to right bottom,
                rgba($color-span-1a, .85),
                rgba($color-span-1b, .85));
        }
        &--2 {
            background-image: linear-gradient(to right bottom,
            rgba($color-span-2a, .85),
            rgba($color-span-2b, .85));
        }
        &--3 {
            background-image: linear-gradient(to right bottom,
            rgba($color-span-3a, .85),
            rgba($color-span-3b, .85));
        }
    }

    &__details {
        padding: 3rem;
        color: $color-grey;

        ul {
            list-style: none;
            width: 70%;
            margin: 0 auto;

            li {
                text-align: center;
                font-size: 1.5rem;
                padding: 1rem;

                &:not(:last-child) {
                    border-bottom: 1px solid #dbdbdb;
                }
            }
        }
    }
}